<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>  
<meta charset="UTF-8">  
<title>About Page</title>
</head>
<body style="background-color: pink">
<nav><ul>
<a href = " {% url 'home page' %} "> صفحه اصلی </a>
<br>
<a href = " {% url 'articles list' %} "> جدیدترین مقالات </a>
</ul></nav>
<hr>
<main><header>
<h1>درباره وب‌سایت</h1>
</header>
<br>
<p> این وب‌سایت در تاریخ: 26 مهر ماه سال 1400، با هدف تمرین و تکلیف محول شده استاد سید نصیر قاضوی در دوره آموزشی python پیشرفته و پس از تدریس مبحث FrameWork Django، توسط دانش‌آموز دوره، سمانه کریم‌زاده طراحی و نوشته شده است و بخشی از مقالات ایشان را نمایش میدهد.</p>
</main>
<br>
</body>
</html>