<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>  
<meta charset="UTF-8">  
<title>Home Page</title>
</head>
<body style="background-color: lavender">
<nav><ul>
<a href = " {% url 'about page' %} "> درباره ما </a>
<br>
<a href = " {% url 'articles list' %} "> جدیدترین مقالات </a>
</ul></nav>
<hr>
<main><header>
<h1>صفحه اصلی</h1>
</header>
<br>
<p>بازدید کننده گرامی سلام. به اولین صفحه وب‌سایت مقالات سمانه کریم‌زاده خوش آمدید. از اینکه وب‌سایت این جانب را برای مطالعه انتخاب کرده‌اید، بسیار خرسند و سپاس گزارم. امیدوارم اوقات خوشی را در کنار ما و در این وب‌سایت تجربه کنید و با ما از تک تک لحظاتتان لذت ببرید. </p>
<br>
</main>
<br>
</body>
</html>